<header>
    <div class="container-fluid head">
        <div class="lh">
            <a [routerLink]="['/home']">
                <span class="lh-1">CBTravel</span>
            </a>
            <span class="lh-2">We Make Your Travel Memorable</span>
        </div>
        <div class="rh">
            <ul class="rh-ul">
                <li class="rh-li">
                    <a class="rh-li-a" [routerLink]="['/gallery']">Gallery</a>
                </li> 
                <li class="rh-li">
                    <a class="rh-li-a" [routerLink]="['/about-us']">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</header>