<div class="img-cont">
    <div class="quote">
        <span class="h-1">Live To Travel, Travel To Live</span>
        <span class="q-1">-"Live with no execuses and travel with no regrets"</span>
        <div class="btn">
            <button>Plan My Travel</button>
        </div>
    </div>
</div>
<div class="loc-cont">
    <div class="grid">
        <div class="h-1">
            <span>Popular Destinations</span>
        </div>
        <app-spinner id="loader"></app-spinner>
        <div class="g-loc" id="g-loc">
            <div class="img-holder">
                <img src="../../../assets/shimla.jpg">
                <div class="img-cnt">
                    <div class="ln">Shimla</div>
                    <button>Travel To Shimla</button>
                </div>
            </div>
            <div class="img-holder">
                <img src="../../../assets/manali.jpg">
                <div class="img-cnt">
                    <div class="ln">Manali</div>
                    <button>Travel To Manali</button>
                </div>
            </div>
            <div class="img-holder">
                <img src="../../../assets/kinnaur.jpg">
                <div class="img-cnt">
                    <div class="ln">Kinnaur</div>
                    <button>Travel To Kinnaur</button>
                </div>
            </div>
        </div>
    </div>
</div>